<!--redirect user here if they are unauthorized (faculty trying to access an admin page)-->
<!DOCTYPE html>
<html lang="en">
<head>
	<title> 401 Unauthorized</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">
	<link rel="stylesheet" href="styles/style.css">
</head>

<body>	
		<!-- Main Area -->
		<main class="content">
			<h1>401</h1>
            <h2>This page is unauthorized.</h2>
            <p>Go to the <a href="/login">login</a> page</p>

        </main>
</body>
</html>