<!--redirect user here if they try to access a page that does not exist-->
<!DOCTYPE html>
<html lang="en">
<head>
	<title> 404 Redirect</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">
	<link rel="stylesheet" href="styles/style.css">
</head>

<body>	
		<!-- Main Area -->
		<main class="content">
			<h1 class="errorCodeH1">404</h1>
            <h2 class="errorCodeH2">Page Not Found</h2>
			<p class="errorCodeP">The page you are looking for doesn't exist Go to the <a href="/login">login</a> page</p>
        </main>
</body>
</html>