
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Admin Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">
</head>

<body>
    
    <!--feel free to replace all content on this page with new stuff-->


		<!-- Use the header area for the website name or logo -->
		<header id="gvlogo">
			<a href="index.html"><img src="images/gvlogo.png" alt="Grand Valley State University Logo"></a>
		</header>
		
		<!-- Main Area -->
		<main id="content">
			<p> Welcome Back, _______________________!</p>
		
			<button type="button">Logout</button>
			
			<p>Key: 0 = default, 1 = teach in more than a year, 2 = teach in less than 6 months, 3 = teach right away </p> 
			
			<div class="tablet-desktop">
				
			
		</main>
	
	</div>
	
</body>
</html>