<!DOCTYPE html>
<html lang="en">

<head>
	<title>Grand Valley State University Admin Edit Page</title>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">  
</head>

<style>
input[type=text], select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=save] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=delete] {
  width: 25%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}

Select {
display: inline-block;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
  padding: 1%;
}
</style>
<body>

<h1>Add and Edit Courses and Faculty</h1>

<nav>		
	<ul>
		<li class="center">  	
			<!--Desktop nav bar-->
			<div class="desktop">
				<a href="/adminFaculty">Search by Professor</a> &nbsp; &nbsp; 
				<a href="/adminCourse">Search by Course</a> &nbsp; &nbsp; 
				<a href="/adminEdit">Edit Listing</a> &nbsp; &nbsp; 
			</div> 
		</li>
	</ul>		
</nav> 


<div class="background">
  <form>

    <label for="nameprefix">Suffix</label>
    <input type="text" id="nameprefix" name="prefix" placeholder="Suffix">


    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="First Name">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Last Name">

  </form>
</div>

<br><br>

<div class="background">
  <form>

    <label for="coursePrefix">Course Prefix</label>
    <input type="text" id="coursePrefix" name="Cprefix" placeholder="Course Prefix">


    <label for="cNumber">Course Number</label>
    <input type="text" id="cNumber" name="CourseNumber" placeholder="Couse Number">

   </form>
</div>

<br><br>

<div class="center">

      <button type="save" id="saveBtn">Save</button>
      <button type="save" id="editBtn">Edit</button>

</div>

<br><br>

<div>
 <label for="box1">Faculty:</label>
      <select id="box1">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
      
<br><br>
      
      <label for="box2">Courses:</label>
      <select id="box2">
        <option value="option4">Option 4</option>
        <option value="option5">Option 5</option>
        <option value="option6">Option 6</option>
      </select>

      <button class="center" type="delete" id="removeBtn">Delete</button>


</div>



</body>
</html>


