<!-- This website template was created by: Nicole Kinney 2/15/2023 -->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Grand Valley State University Admin Page</title>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">  
	<link rel="stylesheet" href="styles/style.css">
</head>

<body>
	<main class="content">
		<h1> Welcome Back, <!--<%=user.fName%> ! -->
		<button  class= "right" type="button" onclick="alert('You have successfully logged out. You may now close this window.')">Logout</button> </h1> 
		
		 <p class="center"> Key: 0 = default, 1 = teach in more than a year, 2 = teach in less than 6 months, 3 = teach right away </p> 
		
		<div class="wrapper">
		
			<!--header image-->
			<header> 
				<a><img src="images/gvsubanner.png" alt="banner logo" class="center"></a>
			</header>
			 
			<h1 class="center">GVSU School of Computing Course Listing</h1> 

			<nav>		
				<ul>
					<li class="center">  	
						<!--Desktop nav bar-->
						<div class="desktop">
							<a href="index.html">Search by Professor</a> &nbsp; &nbsp; 
							<a href="index.html">Search by Course</a> &nbsp; &nbsp; 
							<a href="index.html">Edit Listing</a> &nbsp; &nbsp; 
						</div> 
					</li>
				</ul>		
			</nav> 

			<table><!--Starting Table--> 
			
				<tr><!--Row 1 -->
					<th>Course Number</th>
					<th>Name</th>
					<th>Ranking</th>
					<th>Desire</th>
					<th>Notes</th> 
				</tr>	
				
				<tr><!--Row 2-->
					<td>				  
						 <select >
							<option>CIS 101</option>
							<option>CIS 150</option>
							<option>CIS 159</option>
							<option>CIS 160</option>
							<option>CIS 161</option>
							<option>CIS 162</option>
							<option>CIS 163</option>
							<option>CIS 180</option>
							<option>CIS 221</option>
							<option>CIS 230</option>
							<option>CIS 231</option>
							<option>CIS 233</option>
							<option>CIS 237</option>
							<option>CIS 238</option>
							<option>CIS 241</option>
							<option>CIS 250</option>
							<option>CIS 253</option>
							<option>CIS 258</option>
							<option>CIS 260</option>
							<option>CIS 263</option>
							<option>CIS 280</option>
							<option>CIS 290</option>
							<option>CIS 310</option>
							<option>CIS 320</option>						
						  </select> </td>

					<td>Professor Name</td>
					<td>0-3</td>
					<td>0-3</td>
					<td>Notes here...</td>
				</tr> 		
					
				<tr><!--Row 3-->
					<td></td>
					<td>Professor Name</td>
					<td>0-3</td>
					<td>0-3</td>
					<td>Notes here...</td>
				</tr>
			
				<tr><!--Row 4-->
					<td></td>
					<td>Professor Name</td>
					<td>0-3</td>
					<td>0-3</td>
					<td>Notes here...</td>
				</tr>
			
				<tr><!--Row 5-->
					<td></td>
					<td>Professor Name</td>
					<td>0-3</td>
					<td>0-3</td>
					<td>Notes here...</td>
				</tr>		
				
				<tr><!--Row 6-->
					<td></td>
					<td>Professor Name</td>
					<td>0-3</td>
					<td>0-3</td>
					<td>Notes here...</td>
				</tr>
			
				<tr><!--Row 7-->
					<td></td>
					<td>Professor Name</td>
					<td>0-3</td>
					<td>0-3</td>
					<td>Notes here...</td>
				</tr>		
				
				<tr><!--Row 8-->
					<td></td>
					<td>Professor Name</td>
					<td>0-3</td>
					<td>0-3</td>
					<td>Notes here...</td>
				</tr>
				
			</table>
	
		</div>
	</main>
	
</body>

</html>	