<!DOCTYPE html>
<html lang="en">
<head>
	<title>Faculty Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">
</head>

<body>
		<!-- Use the header area for the website name or logo -->
		<header id="gvlogo">
			<a href="index.html"><img src="images/gvlogo.png" alt="Grand Valley State University Logo"></a>
		</header>
		
		<!-- Main Area -->
		<main id="content">
			<p> Welcome Back, _______________________!</p>
		
			<button type="button">Logout</button>
			
			<p>Key: 0 = default, 1 = teach in more than a year, 2 = teach in less than 6 months, 3 = teach right away </p> 
			
			<div class="tablet-desktop">
			
				<table><!--Start Table -->
					<caption>GVSU School of Computing Course Listing</caption>
					<tr>
						<th>Course Number</th>
						<th>Ranking</th>
						<th>Desire</th>
						<th>Notes</th>
					</tr>
					<tr>
						<td>CIS 101</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					<tr>
						<td>CIS 150</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 159</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 160</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 161</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 162</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 163</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 180</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 221</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 230</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 231</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 233</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 237</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 238</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 241</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 250</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 253</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 258</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>	
					<tr>
						<td>CIS 260</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 263</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 280 </td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 290</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 310</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 320</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 321</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 330</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 331</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 333</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 335</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 337</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 338</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 339</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 340</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 343</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 349</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 350</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 351</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 353</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 357</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 358</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 360</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 365</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 367</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 368</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 371</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 373</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 375</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 376</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 378</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 380</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 399</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 418</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 430</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 437</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 443</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 450</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 451</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 452</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 453</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 455</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 456</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 457</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 458</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 460</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 461</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 462</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 463</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					
					<tr>
						<td>CIS 465</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 467</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 468</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 480</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 490</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
					<tr>
						<td>CIS 499</td>
						<td>0-3</td>
						<td>0-3</td>
						<td>Notes</td>
					</tr>
				</table><!-- End Table -->
			</div>		
			
		</main>
	
	</div>
	
</body>
</html>