<!DOCTYPE html>
<html lang="en">

<head>
	<title>Grand Valley State University Admin Edit Page</title>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">  
  <link rel="stylesheet" href="styles/style.css">
</head>

<style>
  input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  Select {
  display: inline-block;
  }
  
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    padding: 1%;
  }

  </style>

<body>

	<h1>Add and Edit Faculty</h1>

<nav>		
  <ul>
    <li class="center">  	
      <!--Desktop nav bar-->
        <a class="btn btn-primary" href="/adminFaculty">Search by Professor</a>
        <a class="btn btn-primary" href="/adminCourse">Search by Course</a>
        <a class="btn btn-primary" href="/adminEdit">Edit Listing</a>
    </li>
  </ul>		
</nav> 


<div class="background">
  <form>

    <label for="nameprefix">Suffix</label>
    <input type="text" id="nameprefix" name="prefix" placeholder="Suffix">


    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="First Name">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Last Name">

  </form>
</div>

<div class="center">
  <button class="btn btn-primary" type="save" id="saveBtn">Save</button>
  <button class="btn btn-primary" type="save" id="editBtn">Delete</button>
</div>

</body>

<!--Bootstrap Imports-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>  

</html>