/* CSS Reset */
body, header, main, img, h1, caption, td, th, tr, table, button {
  margin: 0; padding: 0; border: 0;
}


/*Styles for All Pages */
body {
  height: 100%;
  margin: 5em;
  padding: 3em 0;
  display: grid;
  align-items: center;
  background-color: #F5F5F5;
  font-family: 'Quicksand', sans-serif;
}

h1, caption { 
  padding: 1em;
  color: #0032A0;
  font-family: 'Quicksand', sans-serif;	
}

h1 {
  size: .5em;
}


/*Styles for Login Page */
#main-holder {
  width: 55%;
  height: 150%;

  margin: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field {
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid black;
  padding: 5%;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  background-color: #90ee90;
  cursor: pointer;
  outline: none;
}


/* Style for Faculty and Admin Page */
img {
  max-width: 30%
}  
  
.content p {
  border: 8px solid; 
  border-color: #b0c4de; 
  border-radius: 10px; 
  padding: 1em; 
  margin: 2em; 
  font-size: 1.25em; 
  text-align: center;
}

/*centering the banner and center command*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} 

/*centering the page and creating a width for page*/
.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*Button*/
button{
  text-align: right; 
}

/*button itself*/
.dropbtn {  
  background-color: #FFF0F5; 
  font-size: 16px;
  border: none;
}
/*centering dropdown*/
.dropdown { 
  position: relative;
  display: inline-block;
}

/*content inside the dropdown*/
.dropdown-content { 
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 200px; 
}
.dropdown-content a { 
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.left{
  display: block;
  float: left;
}

.right {
  display: block;
  float: right;
}

/*Table Designing*/ 
table {
  border: 1px solid #000; 
  border-collapse: collapse;
  margin: 0 auto; 
  width: 98%;
  text-align: center;	  
  font-family: 'Quicksand', sans-serif; 
}

caption {
  font-size: 1.8em; 
  font-weight: bold;  
}

td {
  padding: 1em; 
  font-size: 1em; 
  text-align: center;
}

th, td {
  border: 0.1em solid #0033A0; 
}

th {
  background-color: #b0c4de; 
  font-family: 'Quicksand', sans-serif;	
  color: #000; 
  font-size: 1.25em; 
  text-align: center; 
  padding: 1.15em;
}

tr {
  background-color: #fff;
}

li{
  padding: 0;
  margin: 0;
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}